{% extends 'base.html.twig' %}

{% block title %}Nuevo Entrenador{% endblock %}

{% block body %}
    <h1 class="title" style="display: flex;justify-content: center">{{ title }}</h1>

    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    {{ form_start(form) }}
    <div class="row" style="display: grid; justify-content: center">
        <div class="col" style="width: 100%; padding: 15px">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="col" style="width: 100%; padding: 15px">
            {{ form_label(form.avatar) }}
            {{ form_widget(form.avatar) }}
        </div>
        <div class="col" style="width: 100%; padding: 15px">
            {{ form_label(form.pokemons) }}
            {{ form_widget(form.pokemons) }}
        </div>
        <div class="col" style="width: 100%; padding: 15px">
            {{ form_widget(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}