{% extends 'base.html.twig' %}

{% block title %}Entrenadores{% endblock %}

{% block body %}
    <div class="container">
        <h1 style="text-align: center" class="title">Entrenadores</h1>

        <div style="padding-right: 100px">
            <a style="display: flex; justify-content: end" href="{{ path('new_coach') }}">Nuevo entrenador</a>
        </div>

        <div>
            <table style="width: 100%; text-align: center">
                <tr>
                    <th><h2>Nombre </h2></th>
                    <th><h2>Pokemones </h2></th>
                    <th><h2>Acciones </h2></th>
                </tr>

                {% for item in coachs %}
                    <tr>
                        <td>
                            <h3 class="card-title">{{ item.name }}</h3>
                        </td>
                        <td>
                            {% for pokemon in item.getPokemonCoach %}
                                <a href="#"><img style="width: 50px; height: 50px" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.getPokemonId }}.png"></a>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path('edit_coach', {id: item.id} ) }}">Editar</a>
                            <a href="{{ path('delete_coach', {id: item.id} ) }}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
{% endblock %}